@use 'bootstrap';

/* Google font arial */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
//colors
$dc-primary: #0282F9;
$dc-banner-bg: #1C1C1C;
$dc-footer-bg: #303030;
$dc-text-dark: #464646;
$dc-text-white: #FFFFF2;
$dc-text-grey: #797777;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* common rules */

img {
    width: 100%;
}


/* HEADER */

header {
    nav {
        font-size: 13px;
        font-weight: 600;
        .logo {
            height: 60px;
            aspect-ratio: 1/1;
        }
        ul {
            li {
                a {
                    text-transform: uppercase;
                    color: $dc-text-dark;
                    border-bottom: 4px solid transparent;
                    &.selected,
                    &:hover {
                        border-bottom: 4px solid $dc-primary;
                        color: $dc-primary!important;
                    }
                }
            }
        }
    }
}


/* MAIN */

main {
    .jumbotron {
        background-image: url('../img/jumbotron.jpg');
        height: 315px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .content_top {
        background-color: $dc-banner-bg;
        padding: 2.5rem 0;
        height: calc(100% - 125px);
        .container {
            position: relative;
            .text {
                padding: 0.5rem 1.5rem;
                font-size: 1.5rem;
                width: fit-content;
                background-color: $dc-primary;
                position: absolute;
                top: -70px;
                left: 0px;
            }
            .card {
                padding: 1rem 0rem;
                color: #959595;
                text-transform: uppercase;
                background-color: $dc-banner-bg;
                .card-img-top {
                    object-position: top;
                    aspect-ratio: 1/1;
                    height: 200px;
                    object-fit: cover;
                }
                .card-body {
                    color: $dc-text-white;
                    padding: 1rem 0rem;
                }
                h6 {
                    font-size: 14px;
                }
            }
        }
    }
    .content_bottom {
        padding: 2.5rem 0;
        color: white;
        background-color: #0282F9;
        .action_image {
            height: 48px;
            width: 37px;
            margin: 0 2.31rem;
        }
    }
}


/* FOOTER */

#site_footer {
    font-size: 13px;
    color: $dc-text-grey;
    h3 {
        font-size: 20px;
    }
    p {
        a {
            text-decoration-line: none;
        }
    }
    .footer_top {
        background-image: url('../img/footer-bg.jpg');
        /* height: 480px; */
        background-size: cover;
        ul {
            list-style: none;
            padding: 10px 0;
            a {
                text-decoration: none;
                color: $dc-text-grey;
            }
        }
    }
    .footer_bottom {
        height: 87px;
        background-color: $dc-footer-bg;
    }
}